@import './custom-properties.css';

html {
  font-family: var(--font-family-sans);
  font-size: 16px;
  line-height: 1.5;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-dark-blue);
  margin: 0;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}
