@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  margin-top: 86px;
  background: linear-gradient(#FFFFFF 20%, #FCFCFC, #BDE4E4);

  @media (--media-max-small) {
    margin-top: 0;
  }
}

.title {
  font-family: var(--font-family-headings);
  font-size: 25px;
  color: var(--color-dark-blue);
  margin: 0 0 58px 0;
  -webkit-text-fill-color: var(--color-dark-blue);
  -webkit-text-stroke-width: 0;

  @media (--media-max-small) {
    font-size: 20px;
    letter-spacing: .58px;
    margin: 0 0 20px 0;
  }
}

.grid {
  @media (--media-min-medium) {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 25px;
    grid-template-columns: 1fr 9fr;
  }
}

.mainContent {
  @nest & a {
    color: var(--color-accent);

    @media (hover: hover) {
      @nest &:hover {
        color: inherit;
      }
    }
  }

  @nest & h2 {
    font-size: 23px;
    -webkit-text-fill-color: var(--color-dark-blue);
    -webkit-text-stroke-width: 0;
  }

  @nest & h3 {
    font-size: 21px;
  }

  @nest & h2, & h3, & h4, & h5, & h6 {
    font-weight: 600;
  }

  @nest & figure {
    margin: 0;
    padding: 0;

    @nest & img {
      max-width: 100%;
    }
  }
}

.insightContent {
  max-width: 715px;
  margin-bottom: 75px;

  @media (--media-max-small) {
    margin-bottom: 50px;
  }
}

.categories {
  font-family: var(--font-family-titles);
  font-size: 24px;
  color: var(--color-tuscany);
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 2.3px;

  @media (--media-max-small) {
    font-size: 22px;
  }

  @nest & ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @nest & ul li {
    padding: 0 0 8px 0;
  }
}

.publishedAt {
  font-family: var(--font-family-titles);
  font-size: 18px;
  color: var(--color-tuscany);
  text-transform: uppercase;
  line-height: 1.1;
  letter-spacing: 1.73px;
  margin-bottom: 50px;

  @media (--media-max-small) {
    font-size: 16px;
  }
}

.goBack {
  font-size: 14px;
  font-family: var(--font-family-heading);
  color: var(--color-dark-blue);
  text-transform: uppercase;
  letter-spacing: 1.31px;
  position: relative;
  display: inline-flex;
  text-decoration: none;
}

.goBack::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 3px;
  width: 40%;
  height: 3px;
  background-color: var(--color-tuscany);
  transition: all .3s;
}

.goBack:hover::after {
  left: 0;
  width: 100%;
  transition: all .3s;
}

.recentPosts {
  margin-top: 128px;
  margin-bottom: 100px;
}
