@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  position: relative;
  z-index: 100;
}

.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
  padding: 60px 45px 50px 45px;
  display: flex;
  align-items: center;

  @media (--media-max-medium) {
    padding: 20px;
  }
}

.branding {
  flex: 1;
}

.toggleNavButton {
  appearance: none;
  font-size: 25px;
  border: none;
  background: none;
  margin: 0;
  padding: 4px 4px 0 4px;
  outline: none;
  color: inherit;
  line-height: 1;

  @media (--media-min-medium) {
    display: none;
  }
}

.nav {
  display: none;
}

.nav ul {
  margin: 0;
  padding: 0;
}

.nav ul li a {
  display: block;
  color: var(--color-dark-blue);
  text-decoration: none;
  text-transform: uppercase;
  font-family: var(--font-family-titles);
}

.nav ul li a:hover {
  color: var(--color-turquoise);
}

@media (--media-max-medium) {
  .nav {
    position: absolute;
    background-color: var(--color-turquoise);
    color: var(--color-dark-blue);
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.25);
    left: 0;
    right: 0;
    top: 65px;
  }

  .nav ul {
    padding: 15px 0;
  }

  .nav ul li a {
    padding: 8px 24px;
    text-align: center;
  }

  .nav ul li a:hover {
    background-color: var(--color-turquoise);
    color: var(--color-white);
  }
}

@media (--media-min-medium) {
  .nav {
    display: block;
  }

  .nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }

  .nav ul li a {
    padding: 0 15px;
  }

  .nav ul li:first-child a {
    padding: 0 15px 0 0;
  }

  .nav ul li:last-child a {
    padding: 0 0 0 15px;
  }
}

@media (--media-min-large) {
  .nav ul li a {
    padding: 0 20px;
  }

  .nav ul li:first-child a {
    padding: 0 20px 0 0;
  }

  .nav ul li:last-child a {
    padding: 0 0 0 20px;
  }
}

.showNav {
  display: block;
}
