@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.content {
  background: var(--color-white);
  min-height: calc(100% - 73px - 120px);

  @media (--media-min-small) {
    min-height: calc(100% - 91px - 155px);
  }
}

.subHeader {
  color: var(--color-tuscany);
  font-family: var(--font-family-titles);
  font-size: 24px;
  line-height: 1.1;
  letter-spacing: 2.31px;
  margin-bottom: 0;
}

h1, h2 {
  font-family: var(--font-family-headings);
  font-size: 48px;
  line-height: 1;
  letter-spacing: 1.38px;
  text-transform: uppercase;
  color: var(--color-dark-blue);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.75px;
  -webkit-text-stroke-color: var(--color-dark-blue);
  margin-top: 15px;
  margin-bottom: 20px;

  @media (--media-max-small) {
    font-size: 38px;
  }
}

h3 {
  font-family: var(--font-family-titles);
  font-size: 24px;
  line-height: 1;
  letter-spacing: 2.3px;
  text-transform: uppercase;
  color: var(--color-dark-blue);
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  background-color: var(--color-light-gray);
}

.footerWrapper {
  box-sizing: border-box;
  max-width: 1200px;
  padding: 87px 20px 0 20px;
  margin: 0 auto;

  @media (--media-max-small) {
    padding: 50px 20px 0 20px;
  }
}

.footerGrid {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0;
  margin-bottom: 88px;

  @media (--media-max-medium) {
    grid-template-columns: 1fr;
    margin-bottom: 78px;
  }

  @nest & > li {
    display: flex;
    flex-wrap: no-wrap;

    @media (--media-max-medium) {
      justify-content: center;
      margin-bottom: 55px;
    }

    @media (--media-max-small) {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
  }

  @nest & > li:last-child {
    display: flex;
    justify-content: flex-end;

    @media (--media-max-medium) {
      justify-content: center;
    }

    @media (--media-max-small) {
      margin-bottom: 0;
    }
  }
}

.footerLogo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-right: 112px;

  @media (--media-max-small) {
    justify-content: center;
    margin-right: 0;
    margin-bottom: 33px;
  }

  @nest & img {
    width: 113px;
    margin-bottom: 25px;

    @media (--media-max-small) {
      display: block;
      margin: 0 auto 25px auto;
    }
  }

  @nest & a {
    color: var(--color-turquoise);
    text-decoration: none;
    display: block;
    width: 100%;

    @nest &:hover {
      color: var(--color-dark-blue);
    }
  }
}

.footerSocial ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footerSocial ul li a {
  color: var(--color-turquoise);
  text-decoration: none;
  line-height: 1.75;

  @nest &:hover {
    color: var(--color-dark-blue);
  }
}

.footerLinks ul {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (--media-max-small) {
    margin-bottom: 33px;
  }
}

.footerLinks ul li {
  margin-bottom: 4px;
}

.footerLinks ul li a {
  color: var(--color-dark-blue);
  text-decoration: none;
  font-family: var(--font-family-titles);
  font-size: 18px;
  letter-spacing: 1.5px;
  line-height: 1;

  @nest &:hover {
    color: var(--color-turquoise);
  }
}

.footerGoogle img {
    width: 170px;
    margin-left: 68px;
    box-shadow: 0 0 35px rgba(0,0,0,0.10);

    @media (--media-max-small) {
      margin-left: 0;
    }
}

.companyAddress {
  text-align: center;
  margin: 0 0 1rem;
}

.siteInfo {
  text-align: center;
  font-size: 10px;
  line-height: 1.2;
  padding-bottom: 15px;

  @media (--media-max-small) {
    max-width: 200px;
    margin: 0 auto;
  }

  @nest & span {
    padding-right: 4px;
    padding-left: 4px;
  }

  @nest & a {
    color: var(--color-turquoise);
    text-decoration: none;
  }

  @nest & span.divider {
    @media (--media-max-small) {
      display: none;
    }
  }
}
